# OS files
.DS_Store
Thumbs.db

# Node & vendor
/node_modules
/vendor

# Laravel specific
.env
.env.*
/public/storage
/storage/*.key
/storage/pail
/phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE/editor
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# Build artifacts
/public/build
/public/hot

# Other
auth.json
